<footer>
  <div id="footer-wrapper">
    <a href="/" id="header-logo-link">
      <img src="/images/ths-logo.svg">
    </a>

    <div id="footer-socials">
      <a href="https://www.facebook.com/thehuntersight/" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/thehuntersight/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com/sightLlc" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.youtube.com/channel/UCtDBnVs-y2iQaqQUnCc5wOA" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>

    <div id="footer-bottom">
      <p id="copyright">© 2018 The Hunter Sight. All Rights Reserved.</p>
      <p id="credit">Designed + Developed by <a href="https://lapraim.com/" target="_blank">LaPraim.</a></p>
    </div>
  </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
