<header class="landing-header">
  <div id="header-wrapper">
    <a href="/" id="header-logo-link">
      <img src="/images/ths-logo.svg">
    </a>

    <nav>
      <a class="features-link">Features</a>
      <a class="pricing-link">Pricing</a>
      <a href="/signup">Sign Up</a>
      <a href="/login">Log In</a>
    </nav>

    <span class="mobile-menu-button"><span class="menu-line"></span></span>
    <div class="mobile-menu">
      <nav>
        <a class="features-link">Features</a>
        <a class="pricing-link">Pricing</a>
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
      </nav>
    </div>

  </div><!-- End of header-wrapper -->
</header>


<script type="text/javascript">
  // Mobile menu toggle
  $('.mobile-menu-button').click(function() {
    $(this).toggleClass('active');
    $('.mobile-menu').toggleClass('active');
  });

  // Close mobile menu on 'pricing-link' or 'features-link' click
  $('.mobile-menu .features-link, .mobile-menu .pricing-link').click(function() {
    $('.mobile-menu-button').click();
  });
</script>
