<!DOCTYPE html>
  <html lang="en">
  <head>
    <title><%= title %></title>
    <% include partials/head.ejs %>

    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>

    <link rel="stylesheet" href="/stylesheets/ol-popup.css" />
    <!--<link href="https://unpkg.com/ol-geocoder/dist/ol-geocoder.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/stylesheets/drawToolTip.css"  >
  </head>


  <body id="journal-property" class="property">
    <div class="content-container hasmap"><div class="content-wrapper">
      <div id="map-container" class="col col-md-12"></div>
      <div id="map-marker-popup"></div>
      <div id="help-tool-tip"></div>
      <div id="measure-tool-tip" ></div>
        <div id="mouse-position"></div>

      <div class="toolbar">
        <div class="toolbox">
          <!-- Map -->
          <div class="tools" id="map-tools" data-tab="topo w/ img">
            <span class="tool-icon-wrapper">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve">
                <style type="text/css">
                  .st0{fill:#FFFFFF;}
                </style>
                <g>
                  <path class="st0" d="M9,18c-5,0-9-4.1-9-9c0-5,4-9,9-9c5,0,9,4.1,9,9C18,14,13.9,18,9,18z M5.7,12.7c0.9,0,1.9,0,2.8,0
                    c0-1.1,0-2.2,0-3.2c-1.1,0-2.2,0-3.2,0C5.3,10.6,5.4,11.7,5.7,12.7z M5.7,5.3C5.4,6.3,5.3,7.4,5.3,8.5c1.1,0,2.2,0,3.2,0
                    c0-1.1,0-2.2,0-3.2C7.6,5.3,6.6,5.3,5.7,5.3z M12.7,8.5C12.7,8.5,12.7,8.5,12.7,8.5c0-1.1-0.2-2.1-0.4-3.2c0-0.1-0.1-0.1-0.2-0.1
                    c-0.9,0-1.7,0-2.6,0c0,0-0.1,0-0.1,0c0,1.1,0,2.2,0,3.2C10.6,8.5,11.6,8.5,12.7,8.5z M12.3,12.7c0.3-1.1,0.4-2.1,0.4-3.2
                    c-1.1,0-2.2,0-3.2,0c0,1.1,0,2.2,0,3.2C10.4,12.7,11.4,12.7,12.3,12.7z M4.7,12.7c-0.3-1.1-0.4-2.2-0.4-3.2c-1.1,0-2.2,0-3.2,0
                    c0,0,0,0.1,0,0.1c0,0,0,0.1,0,0.1c0.1,1,0.4,2,0.9,3c0,0.1,0.1,0.1,0.2,0.1c0.8,0,1.6,0,2.5,0C4.6,12.8,4.6,12.7,4.7,12.7z
                     M13.3,12.8c0.9,0,1.8,0,2.7,0c0,0,0.1-0.1,0.1-0.1c0.3-0.6,0.5-1.2,0.7-1.8c0.1-0.4,0.1-0.9,0.2-1.3c-1.1,0-2.2,0-3.3,0
                    C13.7,10.6,13.6,11.7,13.3,12.8z M4.3,8.5c0-1.1,0.1-2.2,0.4-3.2c0,0-0.1,0-0.1,0c-0.8,0-1.7,0-2.5,0c-0.1,0-0.1,0-0.2,0.1
                    C1.5,6,1.3,6.7,1.2,7.5C1.1,7.8,1.1,8.2,1,8.5C2.1,8.5,3.2,8.5,4.3,8.5z M13.7,8.5c1.1,0,2.1,0,3.2,0c0-0.1,0-0.1,0-0.2
                    c-0.1-1.1-0.4-2-0.8-3c0-0.1-0.1-0.1-0.2-0.1c-0.8,0-1.6,0-2.5,0c0,0-0.1,0-0.1,0C13.6,6.3,13.7,7.4,13.7,8.5
                    C13.7,8.5,13.7,8.5,13.7,8.5z M9.5,16.9c1.2-0.3,2.1-1.9,2.5-3.1c-0.8,0-1.6,0-2.5,0C9.5,14.8,9.5,15.9,9.5,16.9z M6,13.8
                    C6,13.8,6,13.8,6,13.8c0.3,0.9,0.7,1.8,1.4,2.5c0.3,0.3,0.6,0.5,1,0.7c0-1.1,0-2.1,0-3.1C7.7,13.8,6.8,13.8,6,13.8z M8.5,1.1
                    C7.1,1.7,6.5,2.9,6,4.2c0.8,0,1.7,0,2.5,0C8.5,3.2,8.5,2.1,8.5,1.1z M12,4.2C12,4.2,12,4.2,12,4.2c0-0.2-0.1-0.3-0.2-0.5
                    c-0.3-0.8-0.7-1.5-1.4-2.1c-0.3-0.3-0.6-0.5-0.9-0.6c0,1.1,0,2.1,0,3.1C10.3,4.2,11.1,4.2,12,4.2z M15.4,13.8c-0.8,0-1.6,0-2.3,0
                    c-0.2,0.5-0.4,1-0.6,1.4c-0.2,0.5-0.5,0.9-0.8,1.3C13.2,16,14.4,15.1,15.4,13.8z M2.6,13.8c0.6,1,2.9,2.7,3.7,2.8
                    c0,0,0-0.1-0.1-0.1c-0.5-0.7-0.9-1.5-1.2-2.3c-0.1-0.4-0.1-0.4-0.6-0.4C3.9,13.8,3.3,13.8,2.6,13.8z M6.4,1.5
                    C5.2,1.7,2.9,3.4,2.6,4.2c0,0,0,0,0,0c0.7,0,1.5,0,2.2,0c0,0,0.1-0.1,0.1-0.1c0.1-0.3,0.2-0.5,0.3-0.8C5.6,2.7,5.9,2,6.4,1.5z
                     M11.7,1.5C11.7,1.5,11.7,1.5,11.7,1.5c0.6,0.9,1,1.7,1.4,2.7c0,0.1,0.1,0.1,0.2,0.1c0.7,0,1.4,0,2,0c0,0,0.1,0,0.2,0
                    C14.4,2.9,13.2,2,11.7,1.5z"/>
                </g>
              </svg>
              <p class="icon-title">Map Type</p>
            </span>

            <div class="drawer">
              <div id="select-target" class="select-wrapper" style="display:none;">
                <label>Map Type</label>
                <select id="layer-select">
                  <option value="topo.image">Topo with Imagery</option>
                  <option value="topo.day">Topographical</option>
                  <option value="satellite.day">Satellite Day</option>
                  <option value="hybrid.day">Hybrid Day</option>
                </select>
              </div>

              <ul class="select-list">
                <li data-select="layer-select" data-val="topo.image" data-tab="topo w/ img" class="active">Topo with Imagery</li>
                <li data-select="layer-select" data-val="topo.day" data-tab="topograph">Topographical</li>
                <li data-select="layer-select" data-val="satellite.day" data-tab="satellite">Satellite</li>
                <li data-select="layer-select" data-val="hybrid.day" data-tab="hybrid">Hybrid</li>
              </ul>
            </div>
          </div>

          <!-- Markers -->
          <div class="tools" id="marker-tools" data-tab="">
            <span class="tool-icon-wrapper">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve">
                <style type="text/css">
                  .st0{fill:#FFFFFF;}
                </style>
                <g>
                  <path class="st0" d="M2.8,6.2c0-2.6,1.7-5,4.2-5.8c3.7-1.3,7.6,1,8.2,4.9c0.2,1.3-0.1,2.6-0.6,3.8c-0.5,1.1-1.2,2.1-1.9,3.1
                    c-0.9,1.4-1.9,2.9-2.7,4.4c-0.2,0.3-0.3,0.7-0.5,1c-0.1,0.1-0.1,0.2-0.2,0.3c-0.2,0.2-0.4,0.2-0.6,0c-0.1-0.1-0.1-0.1-0.1-0.2
                    c-1-2.2-2.4-4.3-3.7-6.3c-0.6-0.9-1.2-1.9-1.6-2.9C2.9,7.7,2.8,6.9,2.8,6.2z M12.5,6.3c0-2-1.6-3.5-3.5-3.5C7,2.8,5.5,4.4,5.5,6.2
                    c0,2.1,1.7,3.6,3.6,3.6C11,9.7,12.5,8.1,12.5,6.3z"/>
                </g>
              </svg>
              <p class="icon-title">Markers</p>
            </span>

            <div class="drawer" id="marker-drawer">
              <span class="map-marker" id="feeder-marker">
                <img id = 'feeder' src="/images/map-markers/feeder.png">
                <p class="icon-title">Feeder</p>
              </span>

              <span class="map-marker" id="sighting-marker">
                <img draggable="true" src="/images/map-markers/sighting.png">
                <p class="icon-title">Sighting</p>
              </span>

              <span class="map-marker" id="game-camera-marker">
                <img src="/images/map-markers/game-camera.png">
                <p class="icon-title">Game Camera</p>
              </span>

              <span class="map-marker" id="food-plot-marker">
                <img src="/images/map-markers/food-plot.png">
                <p class="icon-title">Food Plot</p>
              </span>

              <span class="map-marker" id="campsite-marker">
                <img src="/images/map-markers/campsite.png">
                <p class="icon-title">Campsite</p>
              </span>

              <span class="map-marker" id="box-blind-marker">
                <img src="/images/map-markers/box-blind.png">
                <p class="icon-title">Box Blind</p>
              </span>

              <span class="map-marker" id="oak-fruit-marker">
                <img src="/images/map-markers/oak-fruit.png">
                <p class="icon-title">Oak/Fruit</p>
              </span>

              <span class="map-marker" id="water-marker">
                <img src="/images/map-markers/water.png">
                <p class="icon-title">Water</p>
              </span>

              <span class="map-marker" id="minerals-marker">
                <img src="/images/map-markers/minerals.png">
                <p class="icon-title">Minerals</p>
              </span>

              <span class="map-marker" id="treestand-marker">
                <img src="/images/map-markers/treestand.png">
                <p class="icon-title">Treestand</p>
              </span>

              <span class="map-marker" id="ground-blind-marker">
                <img src="/images/map-markers/ground-blind.png">
                <p class="icon-title">Ground Blind</p>
              </span>

              <span class="map-marker" id="4-wheeler-marker">
                <img src="/images/map-markers/4-wheeler.png">
                <p class="icon-title">4 Wheeler</p>
              </span>

              <span class="map-marker" id="scrape-marker">
                <img src="/images/map-markers/scrape.png">
                <p class="icon-title">Scrape</p>
              </span>

              <span class="map-marker" id="tree-rub-marker">
                <img src="/images/map-markers/tree-rub.png">
                <p class="icon-title">Tree Rub</p>
              </span>

              <span class="map-marker" id="custom-marker">
                <img src="/images/map-markers/custom.png">
                <p class="icon-title">Custom</p>
              </span>
            </div>
          </div>

          <!-- Draw -->
          <div class="tools" id="draw-tools" data-tab="">
            <span class="tool-icon-wrapper">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve">
                <style type="text/css">
                  .st0{fill:#FFFFFF;}
                </style>
                <g>
                  <g>
                    <path class="st0" d="M7.9,14.2c-1.7,0-3.4,0-5.1,0c-0.8,0-1.6-0.3-2.2-0.9C-0.5,11.9,0,9.8,1.7,9.2C2,9.1,2.3,9,2.6,9
                      c0.8,0,1.7,0,2.5,0C5.7,9,6,9.3,6,9.8c0,0.4-0.3,0.7-0.8,0.7c-0.8,0-1.6,0-2.4,0c-0.3,0-0.7,0.1-0.9,0.3c-0.3,0.3-0.4,0.7-0.3,1.2
                      c0.2,0.5,0.5,0.7,1,0.7c0.1,0,0.3,0,0.4,0c3.3,0,6.5,0,9.8,0c0.5,0,1.1,0,1.6,0.3c1,0.6,1.5,1.6,1.4,2.8c-0.2,1-1,1.9-2.1,2.1
                      c-0.2,0-0.5,0.1-0.7,0.1c-1.5,0-2.9,0-4.4,0c-0.2,0-0.5-0.1-0.7-0.2c-0.3-0.2-0.4-0.5-0.3-0.8c0.1-0.3,0.3-0.5,0.6-0.6
                      c0.1,0,0.3,0,0.4,0c1.5,0,3,0,4.6,0c0.8,0,1.4-0.7,1.1-1.5c-0.2-0.5-0.6-0.8-1.1-0.8C11.4,14.2,9.6,14.2,7.9,14.2
                      C7.9,14.2,7.9,14.2,7.9,14.2z"/>
                    <path class="st0" d="M9,10.5c-0.3,0-0.5,0-0.8,0c-0.4,0-0.7-0.3-0.8-0.7C7.5,8.6,7.4,7.4,8.1,6.3c0.3-0.5,0.7-1.1,1.1-1.5
                      C10.6,3.3,12,2,13.4,0.5c0.5-0.5,1-0.6,1.7-0.5c1.6,0.4,2.8,1.8,3,3.5c0,0.3,0,0.6-0.3,0.8C16.2,5.9,14.6,7.5,13,9
                      C11.9,10.1,10.7,10.5,9,10.5z"/>
                  </g>
                </g>
              </svg>
              <p class="icon-title">Draw</p>
            </span>

            <div class="drawer">
              <div id="draw-type" class="select-wrapper" style="display:none;">
                <label>Shape</label>
                <select id="type">
                  <option value="None">None</option>
                  <option value="LineString">Line</option>
                  <option value="Polygon">Polygon</option>
                </select>
              </div>

              <div id="which-hand" class="select-wrapper" style="display:none;">
                <label>Freehand</label>
                <select id="free-or-nah">
                  <option value="not-free">Not Freehand</option>
                  <option value="freehand">Freehand</option>
                </select>
              </div>

              <ul class="select-list">
                <li data-val="None" data-select="type" data-tab="" class="active"><img src="/images/icons/move-icon.svg"> None</li>

                <li data-val="LineString" data-select="type" data-tab="line" data-val-2="not-free" data-select-2="free-or-nah"><img src="/images/icons/line-icon.svg"> Line</li>

                <li data-val="LineString" data-select="type" data-val-2="freehand" data-select-2="free-or-nah" data-tab="free line"><img src="/images/icons/line-freeform-icon.svg"> Freeform Line</li>

                <li data-val="Polygon" data-select="type" data-val-2="not-free"
                    data-select-2="free-or-nah" data-tab="polygon"><img src="/images/icons/polygon-icon.svg"> Polygon</li>

                <li data-val="Polygon" data-select="type" data-val-2="freehand"
                    data-select-2="free-or-nah" data-tab="free poly"><img src="/images/icons/polygon-freeform-icon.svg"> Freeform Polygon</li>
              </ul>
            </div>
          </div>

          <!-- Edit -->
          <div class="tools" id="edit-tools" data-tab="">
            <span class="tool-icon-wrapper">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve">
                <style type="text/css">
                  .st0{fill:#FFFFFF;}
                </style>
                <path class="st0" d="M6.9,20c-0.1-0.1-0.1-0.1-0.2-0.2c-2.2-2.2-4.4-4.4-6.6-6.6C0,13.1,0,13,0.1,12.8c1.3-1.3,2.5-2.5,3.8-3.8
                C4,9,4,8.9,4.1,8.9C3.9,8.7,3.7,8.5,3.5,8.4C6.4,5.6,9.2,2.8,12,0c2.7,2.7,5.4,5.3,8,8c-2.8,2.8-5.6,5.6-8.4,8.4
                c-0.1-0.2-0.3-0.3-0.4-0.5C9.7,17.3,8.3,18.6,6.9,20z M4.8,9.7c0,0-0.1,0.1-0.1,0.1c-1,1-2,2-3,3c-0.1,0.1-0.2,0.2,0,0.4
                c1.6,1.6,3.2,3.1,4.7,4.7c0.2,0.2,0.3,0.4,0.5,0.5c1.2-1.2,2.3-2.3,3.4-3.4C8.5,13.3,6.7,11.5,4.8,9.7z"/>
              </svg>
              <p class="icon-title">Edit</p>
            </span>

            <div class="drawer">
              <ul id="edit-list" class="select-list">
                <li id="none" data-val="None" data-tab=""><img src="/images/icons/move-icon.svg"> None</li>
                <li id="eraser" data-tab="eraser"><img src="/images/icons/eraser-icon.svg"> Eraser</li>
                <li id="modify" data-tab="modify"><img src="/images/icons/modify-icon.svg"> Modify</li>
                <li id="move" data-tab="move"><img src="/images/icons/hand-icon.svg"> Move</li>
              </ul>
            </div>
          </div>

          <div class="color-selection-container">
            <div class="color-selection">
              <p>Fill</p>
              <div id="fill-color-palette" class="color-palette">
                <span id="#ff515133" class="swatch" style="background-color: #ff5151;"></span>
                <span id="#ffb62f33" class="swatch" style="background-color: #ffb62f;"></span>
                <span id="#ffff3e33" class="swatch" style="background-color: #ffff3e;"></span>
                <span id="#4be44b33" class="swatch" style="background-color: #4be44b;"></span>
                <span id="#419eff33" class="swatch" style="background-color: #419eff;"></span>
                <span id="#c560c533" class="swatch" style="background-color: #c560c5;"></span>
                <span id="#ffffff33" class="swatch" style="background-color: white;"></span>
                <span id="#00000033" class="swatch" style="background-color: black;"></span>
              </div>
            </div>
            <div class="color-selection">
              <p>Line</p>
              <div id="line-color-palette" class="color-palette">
                <span id="#ff5151" class="swatch" style="background-color: #ff5151;"></span>
                <span id="#ffb62f" class="swatch" style="background-color: #ffb62f;"></span>
                <span id="#ffff3e" class="swatch" style="background-color: #ffff3e;"></span>
                <span id="#4be44b" class="swatch" style="background-color: #4be44b;"></span>
                <span id="#419eff" class="swatch" style="background-color: #419eff;"></span>
                <span id="#c560c5" class="swatch" style="background-color: #c560c5;"></span>
                <span id="white" class="swatch" style="background-color: white;"></span>
                <span id="black" class="swatch" style="background-color: black;"></span>
              </div>
            </div>
          </div>

        </div>

        <div class="action-tools">
            <!-- <a id="clear" data-tooltip="clear"><i class="far fa-trash-alt"></i></a> -->
            <!--<a id="info" data-tooltip="info"><i class="fa fa-info"></i></a>-->
            <a id="save" data-tooltip="save" download="features.json"><i class="far
            fa-save"></i></a>
        </div>
      </div>

      <!-- Popup -->
      <div id="popup"></div>
    </div></div>
    <script type="module" src="/javascripts/maps/build/main.maps.js"></script>


    <script type="text/javascript">

      // Tools Tab: Opens up a tools drawer
      $('.tools').click(function(event) {
        if (event.originalEvent === undefined) {
          // Not human
        } else {
          // Human
          if (!$(this).hasClass('open')) {
            $('.tools').removeClass('open');
            $(this).addClass('open');
          } else {
            $('.tools').removeClass('open');
          }
        }
      });

      // Tools Tab: Prevents a drawer with class 'stayopen' from closing when clicking child
      $('.tools .drawer.stayopen').click(function(e) {
        e.stopPropagation();
      });

      // Tools Tab: Imitates the effect of selecting an option for a 'select' tag through a 'ul'
      $('ul.select-list li').click(function(event) {
        if (event.originalEvent === undefined) {
          // Not human
          $(this).closest('ul.select-list').find('li').removeClass('active');
          const select_id = $(this).attr('data-select');
          const option_val = $(this).attr('data-val');
          $('#' + select_id).val(option_val).change();
          if ($(this).attr('data-select-2')) {
            const select_id_2 = $(this).attr('data-select-2');
            const option_val_2 = $(this).attr('data-val-2');
            $('#' + select_id_2).val(option_val_2).change();
          }

          $(this).addClass('active');
          const data_tab = $(this).attr('data-tab');
          $(this).closest('.tools').attr('data-tab', data_tab);

        } else {
          // Human
          $(this).closest('ul.select-list').find('li').removeClass('active');
          const select_id = $(this).attr('data-select');
          const option_val = $(this).attr('data-val');
          $('#' + select_id).val(option_val).change();
          if ($(this).attr('data-select-2')) {
            const select_id_2 = $(this).attr('data-select-2');
            const option_val_2 = $(this).attr('data-val-2');
            $('#' + select_id_2).val(option_val_2).change();
          }

          // Can only select from one or the other; not at the same time (draw or edit)
          if ($(this).closest('.tools').attr('id') === 'draw-tools') {
            $('#edit-tools li[data-val="None"]').click();
          } else if ($(this).closest('.tools').attr('id') === 'edit-tools') {
            $('#draw-tools li[data-val="None"]').click();
          }

          $(this).addClass('active');
          const data_tab = $(this).attr('data-tab');
          $(this).closest('.tools').attr('data-tab', data_tab);
        }
      });
      // Color Swatches: Updates the colors
      $('.swatch').click(function() {
        const this_color_pallete = $(this).closest('.color-palette');
        this_color_pallete.find('.swatch').removeClass('active');
        $(this).addClass('active');
      });
    </script>

  </body>
</html>
