<!-- Modal for SignUp -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="SignUpModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="signUpTitle">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color:white;">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <!--TODO: Use an ajax call to get data to send back-->
            <form id="signupForm" action="/auth/signup/free" method="POST">
              <div class="form-group">
                <label class="text-white" for="newUsername">Username</label>
                <input id="newUsername" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter username" name="username">
              </div>
              <div class="form-group">
                <label class="text-white" for="InputPassword">Enter Password</label>
                <input id="InputPassword1" class="form-control" type="password" placeholder="Password" name="password">
                <small id="emailHelp" class="form-text text-light">Password must be at least 8 characters with 2 numbers. </small>
                <br>
                <label class="text-white" for="ConfirmPassword">Confirm Password</label>
                <input id="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword">
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="signupBtn" type="submit" class="btn btn-primary">Sign Up</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
